<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name ="dummy.local" type ="Microsoft.Practices.EnterpriseLibrary.SqlConfigurationSource.Tests.DummySection, Microsoft.Practices.EnterpriseLibrary.SqlConfigurationSource.Tests"/>
		<section name ="dummy.local2" type ="Microsoft.Practices.EnterpriseLibrary.SqlConfigurationSource.Tests.DummySection, Microsoft.Practices.EnterpriseLibrary.SqlConfigurationSource.Tests"/>
		<section name ="dummy.external" type ="Microsoft.Practices.EnterpriseLibrary.SqlConfigurationSource.Tests.DummySection, Microsoft.Practices.EnterpriseLibrary.SqlConfigurationSource.Tests"/>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common" />
  </configSections>

  <enterpriseLibrary.ConfigurationSource selectedSource="sqlSource">
    <sources>
      <add name="sqlSource" type="Microsoft.Practices.EnterpriseLibrary.SqlConfigurationSource.SqlConfigurationSource, Microsoft.Practices.EnterpriseLibrary.SqlConfigurationSource" 
           connectionString="server=(local)\SQLExpress;database=Northwind;Integrated Security=true"
           getStoredProcedure="EntLib_GetConfig"
           setStoredProcedure="EntLib_SetConfig"
           refreshStoredProcedure="UpdateSectionDate"
           removeStoredProcedure="EntLib_RemoveSection"           
       />
    </sources>
  </enterpriseLibrary.ConfigurationSource>

  <dummy.local name="local" value="10"/>
  <dummy.local2 name="local2" value="30"/>
	<dummy.external configSource="dummy.external.config"/>
  
</configuration>