<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.1010, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="oracleConnectionSettings" type="Microsoft.Practices.EnterpriseLibrary.Data.Oracle.Configuration.OracleConnectionSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <system.data>
    <DbProviderFactories>
      <add 
				name="Sql Alias 1" 
				invariant="Data.Tests.SqlAlias1" 
				description="An alias for the SqlProvider" 
				type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add 
				name="Sql Alias 2" 
				invariant="Data.Tests.SqlAlias2" 
				description="An alias for the SqlProvider" 
				type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add 
				name="Service_Dflt" 
				providerName="System.Data.SqlClient"
				connectionString="server=(local)\SQLEXPRESS;database=Northwind;Integrated Security=true" />
    <add 
				name="OracleTest" 
				providerName="System.Data.OracleClient"
				connectionString="server=entlib;user id=testuser;password=testuser" />
    <add
				name="NewDatabase" 
				providerName="System.Data.SqlClient" 
				connectionString="server=(local)\SQLEXPRESS;database=Northwind;Integrated Security=true"/>
    <add
				name="DbWithSqlServerAuthn"
				providerName="System.Data.SqlClient"
				connectionString="server=(local)\SQLEXPRESS;database=Northwind;uid=sa;pwd=mypassword"/>
    <add
				name="NorthwindPersistFalse"
				providerName="System.Data.SqlClient"
				connectionString="server=(local)\SQLEXPRESS;database=Northwind;uid=entlib;pwd=hdf7&amp;834k(*KA;Persist Security Info=false"/>
  </connectionStrings>

  <dataConfiguration defaultDatabase="Service_Dflt">
    <providerMappings>
      <add 
				databaseType="Microsoft.Practices.EnterpriseLibrary.Data.GenericDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.1010, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				name="Data.Tests.SqlAlias2" />
    </providerMappings>
  </dataConfiguration>

  <oracleConnectionSettings>
    <add name="OracleTest">
      <packages>
        <add name="TESTPACKAGE" prefix="TESTPACKAGETOTRANSLATE" />
      </packages>
    </add>
  </oracleConnectionSettings>

  <cachingConfiguration defaultCacheManager="ShortInMemoryPersistence">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="1" maximumElementsInCacheBeforeScavenging="100"
        numberToRemoveWhenScavenging="2" backingStoreName="Isolated Storage"
        name="InIsoStorePersistenceWithNullEncryption"
					 type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"/>
      <add expirationPollFrequencyInSeconds="1" maximumElementsInCacheBeforeScavenging="10"
        numberToRemoveWhenScavenging="2" backingStoreName="Null Storage"
        name="ShortInMemoryPersistence"
					 type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"/>
    </cacheManagers>
    <backingStores>
      <add partitionName="EntLib"            
        type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.1010, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Isolated Storage" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.1010, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Null Storage" />
    </backingStores>
    <!--<encryptionProviders>
    encryptionProviderName="nullEncryptor"
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.Tests.MockStorageEncryptionProvider, Microsoft.Practices.EnterpriseLibrary.Caching.Tests, Version=4.0.0.1010, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="nullEncryptor" />
    </encryptionProviders>-->
  </cachingConfiguration>
</configuration>
