<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography" />
	</configSections>
	<securityCryptographyConfiguration defaultHashInstance="hmac1" defaultSymmetricCryptoInstance="symmetricAlgorithm1">
		<hashProviders>			
			<add
				name="hmac1"
				type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.KeyedHashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography"
				algorithmType="System.Security.Cryptography.HMACSHA1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
				saltEnabled="true" 
				protectedKeyFilename="KeyedHashKey.file"
				protectedKeyProtectionScope="CurrentUser"
				/>
			<add
				name="hashAlgorithm1"
				type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography"
				algorithmType="System.Security.Cryptography.SHA1Managed, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
				saltEnabled="false" 
				/>			
		</hashProviders>
		<symmetricCryptoProviders>
			<add
				name="dpapiSymmetric1"
				type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.DpapiSymmetricCryptoProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography"
				scope="CurrentUser" 
				/>			
			<add
				name="symmetricAlgorithm1"
				type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography"
				algorithmType="System.Security.Cryptography.RijndaelManaged, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
				protectedKeyFilename="ProtectedKey.file"
				protectedKeyProtectionScope="CurrentUser"
				/>
		</symmetricCryptoProviders>
	</securityCryptographyConfiguration>
	</configuration>