<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common" />
    <section name ="externaldummy.filesource" type ="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Tests.DummySection, Microsoft.Practices.EnterpriseLibrary.Common.Tests"/>
  </configSections>


  <enterpriseLibrary.ConfigurationSource selectedSource="systemSource">
    <sources>

      <add name="compositeConfigurationFile"
           type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common"
           filePath="Configuration\ComposedConfigurationFile.config" />

      <add name="systemSource"
           type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common" />

    </sources>
  </enterpriseLibrary.ConfigurationSource>

  <externaldummy.filesource name="externaldummy.filesource" value="11" />
  
</configuration>