<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common" />
    <section name="localdummy" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Tests.DummySection, Microsoft.Practices.EnterpriseLibrary.Common.Tests" />
    <section name="externaldummy.filesource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Tests.DummySection, Microsoft.Practices.EnterpriseLibrary.Common.Tests" />
    <section name="externaldummy.customsource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Tests.DummySection, Microsoft.Practices.EnterpriseLibrary.Common.Tests" />
    <section name="localdummy.pointsToSelf" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Tests.DummySection, Microsoft.Practices.EnterpriseLibrary.Common.Tests" />
    <section name="localdummy.pointsToNothing" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Tests.DummySection, Microsoft.Practices.EnterpriseLibrary.Common.Tests" />
  </configSections>

  <enterpriseLibrary.ConfigurationSource 
      selectedSource="systemSource" 
      parentSource="externalFile">

    <sources>

      <add name="externalFile"
           type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common"
           filePath="ExternalFileSource.config" />

      <add name="systemSource"
           type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common" />

      <add name="customSource"
           type="Microsoft.Practices.EnterpriseLibrary.Common.Tests.Configuration.TestObjects.TestConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common.Tests" />


    </sources>
  </enterpriseLibrary.ConfigurationSource>

  <externaldummy.filesource name="externaldummy.filesource"  />


</configuration>