<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
    <section name="unmodified"
             type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common" />

    <section name="removedPiab" 
             type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common" />

    <section name="removedNamedType"
             type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common" />

    <section name="clearedAndRedeclared"
             type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common" />

    <section name="addedSectionName"
             type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common" />

    <section name="addedType"
             type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common" />
    
    <section name="duplicateName"
             type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common" />

  </configSections>
  

  <unmodified/>
  
  <removedPiab>
    <remove name="Policy Injection" />
  </removedPiab>

  <removedNamedType>
    <remove name="validation" />
  </removedNamedType>

  <clearedAndRedeclared>
    <clear/>
    <add name="Policy Injection" sectionName="policyInjection" />
  </clearedAndRedeclared>

  <addedSectionName>
    <add name="added section" sectionName="sectionname"/>
  </addedSectionName>

  <addedType>
    <add name="added type" providerType="MockTypeRegistrationsProvider" />
  </addedType>

  <duplicateName>
    <add name="Validation" sectionName="throws" />
  </duplicateName>
  
</configuration>