<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  
  <enterpriseLibrary.ConfigurationSource selectedSource="File-based Configuration Source">
    <sources>
      <add name="File-based Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="Web.EnterpriseLibrary.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  
  <appSettings>
    <add key="CachedExpenseExpiration" value="00:05:00"/>
    <add key="UseInprocEventTracing" value="true"/> <!-- If false, will use ETW events that may be captured by SLAB out of process service/console -->
  </appSettings>
  
  <connectionStrings configSource="Web.Connections.config"/>
  
  <system.webServer>
    <modules>
      <add name="ClaimsAuthorizationModule" type="System.IdentityModel.Services.ClaimsAuthorizationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  
  <system.identityModel>    
    <identityConfiguration>
      <claimsAuthorizationManager type="AExpense.SecurityClaimsAuthorizationManager, AExpense, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
        <!-- Restrict access to Approve page only to users with 'Manager' claim -->
        <policy resource="http://localhost:52592/Approve.aspx">
          <claim claimType="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" claimValue="Manager" />
        </policy>
        <!-- Check access from ExpenseRepository.UpdateApproved -->
        <policy resource="ExpenseRepository.UpdateApproved">
          <claim claimType="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" claimValue="Manager" />
        </policy>
      </claimsAuthorizationManager>      
    </identityConfiguration>      
  </system.identityModel>
  
  <system.identityModel.services>
    <federationConfiguration>
      <!--Set requireSSL=true for production use -->
      <cookieHandler requireSsl="false" />
    </federationConfiguration>    
  </system.identityModel.services>
  
  <system.web>

    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="~/SimulatedWindowsAuthentication.aspx" defaultUrl="~/default.aspx" requireSSL="false"/> 
    </authentication>
    
    <authorization>
      <!-- Require all users to authenticate -->
      <deny users="?"/>
    </authorization>

    <!--Set cookieRequireSSL=true for production use -->
    <httpCookies httpOnlyCookies="true" requireSSL="false"/>
    <compilation debug="true" targetFramework="4.5"/>
    
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <namespaces>
        <add namespace="AExpense.DataAccessLayer"/>
        <add namespace="AExpense.Model"/>
        <add namespace="System.Linq"/>
        <add namespace="Microsoft.Security.Application"/>
      </namespaces>
    </pages>
    
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="aExpense" applicationName="aExpense" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Hashed"/>
      </providers>
    </membership>
    
    <roleManager enabled="true" defaultProvider="SqlRoleManager" cookieRequireSSL="false">
      <providers>
        <add name="SqlRoleManager" type="System.Web.Security.SqlRoleProvider" connectionStringName="aExpense" applicationName="aExpense"/>
      </providers>
    </roleManager>
    
    <profile defaultProvider="SqlProvider">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="aExpense" applicationName="aExpense"/>
      </providers>
      <properties>
        <add name="PreferredReimbursementMethod"/>
        <add name="CostCenter"/>
        <add name="DisplayName"/>
      </properties>
    </profile>
    
    <customErrors mode="On" defaultRedirect="500.htm">
      <error statusCode="500" redirect="500.htm"/>
    </customErrors>
    
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
