<?xml version="1.0"?>
<connectionStrings>
  <add name="aExpense" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=aExpenseV6;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="Tracing" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=aExpenseV6;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="aExpenseTesting" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=aExpenseV6.FixtureTest;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
