<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF.Tests.VSTS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <validation>
    <type assemblyName="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF.Tests.VSTS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF.Tests.VSTS.TestService.CustomerInfo">
      <ruleset name="Bank1Rules">
        <properties>
          <property name="FirstName">
            <validator negated="false" messageTemplate="" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0" name="Not Null Validator"/>
          </property>
          <property name="LastName">
            <validator negated="false" messageTemplate="" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0" name="Not Null Validator"/>
            <validator lowerBound="4" lowerBoundType="Inclusive" upperBound="15" upperBoundType="Inclusive" negated="false" messageTemplate="" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0" name="String Length Validator"/>
          </property>
        </properties>
      </ruleset>
      <ruleset name="Bank2Rules">
        <properties>
          <property name="Ssn">
            <validator negated="false" messageTemplate="" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0" name="Not Null Validator"/>
            <validator pattern="\d{3}-\d{2}-\d{4}" options="None" patternResourceName="" patternResourceType="" messageTemplate="" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=6.0.0.0" name="Regex Validator"/>
          </property>
        </properties>
      </ruleset>
    </type>
  </validation>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ValidationBehavior">
          <validation enabled="true" ruleset="Bank2Rules"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Validation.Integration.WCF.TestService_Behavior">
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
        <behavior name="Validation.Integration.WCF.BankingService_Behavior">
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  <services>
      <service behaviorConfiguration="Validation.Integration.WCF.TestService_Behavior" name="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF.Tests.VSTS.TestService.TestServiceImplementation">
        <endpoint binding="basicHttpBinding" contract="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF.Tests.VSTS.TestService.ITestService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="Validation.Integration.WCF.BankingService_Behavior" name="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF.Tests.VSTS.TestService.BankingServiceImplementation">
        <endpoint binding="basicHttpBinding" contract="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF.Tests.VSTS.TestService.IBankingService"/>
        <endpoint binding="basicHttpBinding" contract="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF.Tests.VSTS.TestService.IBanking2Service"/>
        <endpoint binding="basicHttpBinding" contract="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF.Tests.VSTS.TestService.IBanking3Service" behaviorConfiguration="ValidationBehavior"/>
        <endpoint binding="basicHttpBinding" contract="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF.Tests.VSTS.TestService.IBanking4Service"/>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <!-- client section added for testing -->
    <client>
      <endpoint address="http://localhost:34275/TestService" binding="basicHttpBinding" contract="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF.Tests.VSTS.TestService.ITestService"/>
      <endpoint address="http://localhost:34275/BankingService/Bank1" binding="basicHttpBinding" contract="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF.Tests.VSTS.TestService.IBankingService"/>
      <endpoint address="http://localhost:34275/BankingService/Bank2" binding="basicHttpBinding" contract="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF.Tests.VSTS.TestService.IBanking2Service"/>
      <endpoint address="http://localhost:34275/BankingService/Bank3" binding="basicHttpBinding" contract="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF.Tests.VSTS.TestService.IBanking3Service"/>
      <endpoint address="http://localhost:34275/BankingService/Bank4" binding="basicHttpBinding" contract="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF.Tests.VSTS.TestService.IBanking4Service"/>
    </client>

    <extensions>
      <behaviorExtensions>
        <add name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF.ValidationElement, Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <applicationSettings>
    <Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF.Tests.VSTS.Properties.Settings>
      <setting name="TestServiceAddress" serializeAs="String">
        <value>http://localhost:34275/TestService</value>
      </setting>
      <setting name="Bank1ServiceAddress" serializeAs="String">
        <value>http://localhost:34275/BankingService/Bank1</value>
      </setting>
      <setting name="Bank2ServiceAddress" serializeAs="String">
        <value>http://localhost:34275/BankingService/Bank2</value>
      </setting>
      <setting name="Bank3ServiceAddress" serializeAs="String">
        <value>http://localhost:34275/BankingService/Bank3</value>
      </setting>
      <setting name="Bank4ServiceAddress" serializeAs="String">
        <value>http://localhost:34275/BankingService/Bank4</value>
      </setting>
    </Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF.Tests.VSTS.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
