<configuration>
    <configSections>
        <section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=4.0.0.829, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </configSections>
    <securityConfiguration defaultAuthorizationInstance="RuleProvider" defaultSecurityCacheInstance="">
        <authorizationProviders>
            <add type="Microsoft.Practices.EnterpriseLibrary.Security.AuthorizationRuleProvider, Microsoft.Practices.EnterpriseLibrary.Security, Version=4.0.0.829, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                name="RuleProvider">
                <rules>
                    <clear />
                    <add expression="R:Dev" name="IsDev" />
                    <add expression="NOT I:?" name="NotAnonymous" />
                </rules>
            </add>
        </authorizationProviders>
    </securityConfiguration>
</configuration>
