<configuration>
  <configSections>
    <section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0" />
  </configSections>
  <validation>
    <type defaultRuleset="Rule Set1" name="Microsoft.Practices.EnterpriseLibrary.Configuration.Console.AboutForm">
      <ruleset name="Rule Set">
        <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.AndCompositeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
          name="And Composite Validator">
          <validator lowerBound="" lowerBoundType="Ignore" upperBound=""
            upperBoundType="Inclusive" messageTemplate="" messageTemplateResourceName=""
            messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DateTimeRangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
            name="Date Range Validator" />
          <validator messageTemplate="" messageTemplateResourceName=""
            messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
            name="Not Null Validator" />
        </validator>
        <validator type="CustomType" name="Custom Validator" />
        <validator lowerBound="" lowerBoundType="Ignore" upperBound=""
          upperBoundType="Inclusive" messageTemplate="" messageTemplateResourceName=""
          messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DateTimeRangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
          name="Date Range Validator" />
        <validator lowerBound="0" lowerBoundType="Ignore" upperBound="0"
          upperBoundType="Inclusive" messageTemplate="" messageTemplateResourceName=""
          messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
          name="Int32 Range Validator"/>
        <validator messageTemplate="" messageTemplateResourceName=""
          messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
          name="Not Null Validator" />
        <validator messageTemplate="" messageTemplateResourceName=""
          messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
          name="NotNullValidator" negated="true" />
        <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.OrCompositeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
          name="Or Composite Validator" />
        <validator pattern=".*" options="None" messageTemplate="" messageTemplateResourceName=""
          messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
          name="Regex Validator" />
        <validator lowerBound="0" lowerBoundType="Ignore" upperBound="0"
          upperBoundType="Ignore" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
          name="String Length Validator" />
        <validator lowerBound="" lowerBoundType="Ignore" upperBound=""
          upperBoundType="Inclusive" messageTemplate="" messageTemplateResourceName=""
          messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
          name="String Range Validator" />
        <properties>
          <property name="Property">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.AndCompositeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="And Composite Validator">
              <validator lowerBound="" lowerBoundType="Ignore" upperBound=""
                upperBoundType="Inclusive" messageTemplate="" messageTemplateResourceName=""
                messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DateTimeRangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
                name="Date Range Validator" />
              <validator messageTemplate="" messageTemplateResourceName=""
                messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
                name="Not Null Validator" />
            </validator>
            <validator type="CustomType" name="Custom Validator" />
            <validator lowerBound="" lowerBoundType="Ignore" upperBound=""
              upperBoundType="Inclusive" messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DateTimeRangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="Date Range Validator" />
            <validator lowerBound="0" lowerBoundType="Ignore" upperBound="0"
              upperBoundType="Inclusive" messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="Int32 Range Validator" />
            <validator messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="Not Null Validator" />
            <validator messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="NotNullValidator" negated="true" />
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.OrCompositeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="Or Composite Validator" />
            <validator pattern=".*" options="None" messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="Regex Validator" />
            <validator lowerBound="0" lowerBoundType="Ignore" upperBound="0"
              upperBoundType="Ignore" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="String Length Validator" />
            <validator lowerBound="" lowerBoundType="Ignore" upperBound=""
              upperBoundType="Inclusive" messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="String Range Validator" />
						<validator characterSet="abcdfg" containsCharacter="Any" negated="false"
							messageTemplate="" messageTemplateResourceName="" messageTemplateResourceType=""
							tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
							name="Contains Characters Validator" />
						<validator characterSet="abc" containsCharacter="Any" negated="false"
							messageTemplate="my message template" messageTemplateResourceName=""
							messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
							name="Contains Characters Validator1" />
						<validator negated="false" messageTemplate="" messageTemplateResourceName=""
							messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DomainValidator`1[[System.Object, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]], Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
							name="Domain Validator">
							<domain>
								<add name="A" />
								<add name="B" />
								<add name="C" />
							</domain>
						</validator>
						<validator enumType="Microsoft.Practices.EnterpriseLibrary.Validation.CompositionType, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
							negated="true" messageTemplate="" messageTemplateResourceName=""
							messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.EnumConversionValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
							name="Enum Conversion Validator" />
						<validator lowerUnit="Day" upperUnit="Month" lowerBound="-60"
							lowerBoundType="Inclusive" upperBound="2" upperBoundType="Inclusive"
							negated="false" messageTemplate="" messageTemplateResourceName=""
							messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RelativeDateTimeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
							name="Relative Date Time Validator" />
						<validator targetType="Microsoft.Practices.EnterpriseLibrary.AppSettings.Configuration.Design.AppSettingNode, Microsoft.Practices.EnterpriseLibrary.AppSettings.Configuration.Design, Version=4.1.0.0"
							negated="false" messageTemplate="" messageTemplateResourceName=""
							messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.TypeConversionValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
							name="Type Conversion Validator" />
            <validator name="Property Comparison Validator" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.PropertyComparisonValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
                       propertyToCompare="Property" operator="Equal"/>
					</property>
        </properties>
        <methods>
          <method name="Method">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.AndCompositeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="And Composite Validator">
              <validator lowerBound="" lowerBoundType="Ignore" upperBound=""
                upperBoundType="Inclusive" messageTemplate="" messageTemplateResourceName=""
                messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DateTimeRangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
                name="Date Range Validator" />
              <validator messageTemplate="" messageTemplateResourceName=""
                messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
                name="Not Null Validator" />
            </validator>
            <validator type="CustomType" name="Custom Validator" />
            <validator lowerBound="" lowerBoundType="Ignore" upperBound=""
              upperBoundType="Inclusive" messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DateTimeRangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="Date Range Validator" />
            <validator lowerBound="0" lowerBoundType="Ignore" upperBound="0"
              upperBoundType="Inclusive" messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="Int32 Range Validator" />
            <validator messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="Not Null Validator" />
            <validator messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="NotNullValidator" negated="true" />
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.OrCompositeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="Or Composite Validator" />
            <validator pattern=".*" options="None" messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="Regex Validator" />
            <validator lowerBound="0" lowerBoundType="Ignore" upperBound="0"
              upperBoundType="Ignore" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="String Length Validator" />
            <validator lowerBound="" lowerBoundType="Ignore" upperBound=""
              upperBoundType="Inclusive" messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="String Range Validator" />
          </method>
        </methods>
        <fields>
          <field name="Field">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.AndCompositeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="And Composite Validator">
              <validator lowerBound="" lowerBoundType="Ignore" upperBound=""
                upperBoundType="Inclusive" messageTemplate="" messageTemplateResourceName=""
                messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DateTimeRangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
                name="Date Range Validator" />
              <validator messageTemplate="" messageTemplateResourceName=""
                messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
                name="Not Null Validator" />
            </validator>
            <validator type="CustomType" name="Custom Validator" />
            <validator lowerBound="" lowerBoundType="Ignore" upperBound=""
              upperBoundType="Inclusive" messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.DateTimeRangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="Date Range Validator" />
            <validator lowerBound="0" lowerBoundType="Ignore" upperBound="0"
              upperBoundType="Inclusive" messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="Int32 Range Validator" />
            <validator messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="Not Null Validator" />
            <validator messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.NotNullValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="NotNullValidator" negated="true" />
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.OrCompositeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="Or Composite Validator" />
            <validator pattern=".*" options="None" messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="Regex Validator" />
            <validator lowerBound="0" lowerBoundType="Ignore" upperBound="0"
              upperBoundType="Ignore" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="String Length Validator" />
            <validator lowerBound="" lowerBoundType="Ignore" upperBound=""
              upperBoundType="Inclusive" messageTemplate="" messageTemplateResourceName=""
              messageTemplateResourceType="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RangeValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=4.1.0.0"
              name="String Range Validator" />
          </field>
        </fields>
      </ruleset>
      <ruleset name="Rule Set1" />
    </type>
  </validation>
</configuration>
