<configuration>
  <configSections>
    <section name="policyInjection" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.Configuration.PolicyInjectionSettings, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=4.0.0.815, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.815, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <policyInjection>
    <policies>
      <add name="Policy">
        <handlers>
          <add authorizationProvider="" operationName="operationName" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.CallHandlers.AuthorizationCallHandler, Microsoft.Practices.EnterpriseLibrary.PolicyInjection.CallHandlers, Version=4.0.0.815, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            name="Authorization Call Handler" />
          <add expirationTime="00:05:00" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.CallHandlers.CachingCallHandler, Microsoft.Practices.EnterpriseLibrary.PolicyInjection.CallHandlers, Version=4.0.0.815, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            name="Caching Call Handler" />
          <add type="CallHandlerType" name="Custom Call Handler" />
          <add exceptionPolicyName="ExceptionPolicyName" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.CallHandlers.ExceptionCallHandler, Microsoft.Practices.EnterpriseLibrary.PolicyInjection.CallHandlers, Version=4.0.0.815, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            name="Exception Call Handler" />
          <add logBehavior="BeforeAndAfter" beforeMessage="" afterMessage=""
            includeParameterValues="false" includeCallStack="false" includeCallTime="false"
            priority="0" severity="Information" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.CallHandlers.LogCallHandler, Microsoft.Practices.EnterpriseLibrary.PolicyInjection.CallHandlers, Version=4.0.0.815, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            name="Log Call Handler" />
          <add categoryName="" instanceName="" useTotalCounter="false"
            incrementNumberOfCalls="false" incrementCallsPerSecond="false"
            incrementAverageCallDuration="false" incrementTotalExceptions="false"
            incrementExceptionsPerSecond="false" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.CallHandlers.PerformanceCounterCallHandler, Microsoft.Practices.EnterpriseLibrary.PolicyInjection.CallHandlers, Version=4.0.0.815, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            name="Performance Counter Call Handler" />
          <add ruleSet="" specificationSource="Both" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.CallHandlers.ValidationCallHandler, Microsoft.Practices.EnterpriseLibrary.PolicyInjection.CallHandlers, Version=4.0.0.815, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            name="Validation Call Handler" />
        </handlers>
      </add>
    </policies>
  </policyInjection>
</configuration>
