<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for Configuration.EnvironmentalOverrides.Console.ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Debug (Any CPU)&quot; configuration in project &quot;C:\dev\EntLib SL Spike\V5-SL\Entlib\Source\Blocks\Configuration\Src\EnvironmentalOverrides.Console\Configuration.EnvironmentalOverrides.Console.csproj&quot;." ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1017" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1500" Action="None" />
    <Rule Id="CA1701" Action="None" />
    <Rule Id="CA1806" Action="None" />
    <Rule Id="CA1812" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA1824" Action="None" />
    <Rule Id="CA2201" Action="None" />
    <Rule Id="CA2210" Action="None" />
    <Rule Id="CA2232" Action="None" />
  </Rules>
</RuleSet>