<?xml version="1.0" encoding="utf-8"?>
<!-- This file was created by the Enterprise Library Configuration Tool any changes will be overidden -->
<securityConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security">
    <enterpriseLibrary.securitySettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/security">
      <authenticationProviders/>
      <rolesProviders>
        <rolesProvider
			xsi:type="DbRolesProviderData"
			name="DbRolesProviderName"
			type="Microsoft.Practices.EnterpriseLibrary.Security.Database.DbRolesProvider, Microsoft.Practices.EnterpriseLibrary.Security.Database"
			database="EntLibSecurity"/>
      </rolesProviders>
      <profileProviders>
		<profileProvider
			xsi:type="DbProfileProviderData"
			name="MyDbProfile1"
			type="Microsoft.Practices.EnterpriseLibrary.Security.Database.DbProfileProvider, Microsoft.Practices.EnterpriseLibrary.Security.Database"
			database="EntLibSecurity"/>
      </profileProviders>
    </enterpriseLibrary.securitySettings>
  </xmlSerializerSection>
</securityConfiguration>