<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="enterpriselibrary.configurationSettings" type="System.Configuration.IgnoreSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </configSections>
    <enterpriselibrary.configurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
        <configurationSections>
            <configurationSection name="dataConfiguration">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="XmlStorage" type="Microsoft.Practices.EnterpriseLibrary.Configuration.Storage.XmlFileStorageProvider,Microsoft.Practices.EnterpriseLibrary.Configuration"
                    path="EnterpriseLibrary.Data.config" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="DataBuilder" type="Microsoft.Practices.EnterpriseLibrary.Configuration.Transformer.XmlSerializerTransformer,Microsoft.Practices.EnterpriseLibrary.Configuration" />
            </configurationSection>
            <configurationSection name="securityConfiguration">
                <storageProvider xsi:type="XmlFileStorageProviderData" name="Storage" type="Microsoft.Practices.EnterpriseLibrary.Configuration.Storage.XmlFileStorageProvider, Microsoft.Practices.EnterpriseLibrary.Configuration"
                    path="EnterpriseLibrary.Security.config" />
                <dataTransformer xsi:type="XmlSerializerTransformerData" name="Transformer" type="Microsoft.Practices.EnterpriseLibrary.Configuration.Transformer.XmlSerializerTransformer, Microsoft.Practices.EnterpriseLibrary.Configuration">
                    <includeTypes>
                        <includeType name="DBRolesIncludeType" type="Microsoft.Practices.EnterpriseLibrary.Security.Database.Configuration.DbRolesProviderData, Microsoft.Practices.EnterpriseLibrary.Security.Database" />
                        <includeType name="DBProfileIncludeType" type="Microsoft.Practices.EnterpriseLibrary.Security.Database.Configuration.DbProfileProviderData, Microsoft.Practices.EnterpriseLibrary.Security.Database" />
                    </includeTypes>
                </dataTransformer>
            </configurationSection>
        </configurationSections>
    </enterpriselibrary.configurationSettings>
</configuration>