<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for Validation.Integration.WinForms.ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Debug (Any CPU)&quot; configuration in project &quot;C:\dev\EntLib SL Spike\V5-SL\Entlib\Source\Blocks\Validation\Src\Validation.WinForms\Validation.Integration.WinForms.csproj&quot;." ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1007" Action="None" />
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1017" Action="None" />
    <Rule Id="CA1021" Action="None" />
    <Rule Id="CA1024" Action="None" />
    <Rule Id="CA1405" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1824" Action="None" />
    <Rule Id="CA2210" Action="None" />
  </Rules>
</RuleSet>