<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" requirePermission="true" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="alias1" type="System.Int32, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <alias alias="alias2" type="System.String, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <container name="cloned">
      <register type="RegistrationTypeName" name="Registration1">
        <property name="Property1" value="PropertyValue" />
        <constructor>
          <param name="array">
            <array type="t">
              <array />
              <value value="v" />
            </array>
          </param>
        </constructor>
      </register>
    </container>
  </unity>
</configuration>
