<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="aExpense" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=aExpenseV6;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="aExpense.AutomationTests.Properties.Settings.LoggingConnectionString"
      connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=aExpenseV6;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="aExpense.AutomationTests.Properties.Settings.aExpenseConnectionString"
      connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=aExpenseV6;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aExpenseSiteRelativePath" value="..\..\..\..\EL-V6\aExpense" />
    <add key="aExpenseSitePort" value="52592" />
  </appSettings>
</configuration>
