<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RetryPolicyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.Configuration.RetryPolicyConfigurationSettings, Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.Configuration" />
  </configSections>
  <RetryPolicyConfiguration defaultRetryStrategy="FixedIntervalDefault" defaultSqlConnectionRetryStrategy="FixedIntervalDefault" defaultSqlCommandRetryStrategy="FixedIntervalDefault" defaultAzureStorageRetryStrategy="IncrementalIntervalDefault" defaultAzureServiceBusRetryStrategy="IncrementalIntervalDefault">
    <fixedInterval name="FixedIntervalDefault" maxRetryCount="10" retryInterval="00:00:00.1" />
    <incremental name="IncrementalIntervalDefault" maxRetryCount="10" initialInterval="00:00:00.01" retryIncrement="00:00:00.05" />
    <exponentialBackoff name="ExponentialIntervalDefault" maxRetryCount="10" minBackoff="100" maxBackoff="1000" deltaBackoff="100" />
    <!--fixedInterval name="NegativeRetryCount" maxRetryCount="-1" retryInterval="100" /-->
    <!--fixedInterval name="NegativeRetryInterval" maxRetryCount="3" retryInterval="-2" /-->
    <fixedInterval name="ZeroRetryInterval" maxRetryCount="3" retryInterval="00:00:00" />
    <fixedInterval name="ZeroRetryCount" maxRetryCount="0" retryInterval="00:00:00.1" />
    <!--incremental name="NegativeRetryIncrement" maxRetryCount="15" initialInterval="00:00:00.1" retryIncrement="-00:00:00.01" /-->
    <incremental name="ZeroRetryIncrement" maxRetryCount="3" initialInterval="00:00:00.1" retryIncrement="00:00:00" />
    <!--exponentialBackoff name="NegativeMinBackoff" maxRetryCount="3" minBackoff="-1" maxBackoff="00:00:01" deltaBackoff="100" /-->
    <exponentialBackoff name="ZeroMinBackoff" maxRetryCount="3" minBackoff="00:00:00" maxBackoff="00:00:01" deltaBackoff="00:00:00.1" />
    <!--exponentialBackoff name="NegativeMaxBackoff" maxRetryCount="3" minBackoff="00:00:00.1" maxBackoff="-2" deltaBackoff="100" /-->
    <exponentialBackoff name="ZeroMaxBackoff" maxRetryCount="3" minBackoff="00:00:00" maxBackoff="00:00:00" deltaBackoff="100" />
    <!--exponentialBackoff name="NegativeDeltaBackoff" maxRetryCount="3" minBackoff="00:00:00.1" maxBackoff="00:00:01" deltaBackoff="-1" /-->
    <exponentialBackoff name="ZeroDeltaBackoff" maxRetryCount="3" minBackoff="00:00:00.1" maxBackoff="00:00:01" deltaBackoff="00:00:00" />
    <exponentialBackoff name="MinBackoffEqualsMax" maxRetryCount="3" minBackoff="00:00:01" maxBackoff="00:00:01" deltaBackoff="00:00:00.1" />
    <!--exponentialBackoff name="MinBackoffGreaterThanMax" maxRetryCount="3" minBackoff="00:00:01" maxBackoff="00:00:00.1" deltaBackoff="00:00:00.1" /-->
    <exponentialBackoff name="LargeDeltaBackoff" maxRetryCount="3" minBackoff="00:00:00.1" maxBackoff="00:00:01" deltaBackoff="11.00:00:00" />
    <fixedInterval name="FixedInterval_MissingRetryInterval" maxRetryCount="3" />
    <incremental name="IncrementalInterval_MissingRetryInterval" maxRetryCount="3" retryIncrement="00:00:00.05" />
    <exponentialBackoff name="ExponentialInterval_MissingMinBackoff" maxRetryCount="3" maxBackoff="00:00:01" deltaBackoff="00:00:00.1" />
    <exponentialBackoff name="ExponentialInterval_MissingMaxBackoff" maxRetryCount="3" minBackoff="00:00:00.1" deltaBackoff="00:00:00.1" />
    <exponentialBackoff name="ExponentialInterval_MissingDeltaBackoff" maxRetryCount="3" minBackoff="00:00:00.1" maxBackoff="00:00:01" />
    <add name="TestCustomRetryStrategy" customProperty="10" type="Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.TestSupport.TestRetryStrategy, Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.TestSupport, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </RetryPolicyConfiguration>
  <connectionStrings>
    <add name="SqlDatabaseAdventureWorksLT" connectionString="Data Source=tcp:[INSERT SERVER NAME HERE].database.windows.net;Initial Catalog=AdventureWorksLTAZ2008R2;User ID=[INSERT USER ID HERE];Password=[INSERT PASSWORD HERE];MultipleActiveResultSets=False;" />
    <add name="SqlExpressTest" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ContainerStore;Integrated Security=SSPI;Trusted_Connection=True;MultipleActiveResultSets=False;" />
  </connectionStrings>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[AccountName];AccountKey=[AccountKey]" />
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedSecretIssuer=owner;SharedSecretValue=[your secret]" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>