<configuration>
    <configSections>
        <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common" requirePermission="true" />
    </configSections>
    <enterpriseLibrary.ConfigurationSource selectedSource="FileSource">
        <sources>
            <add name="FileSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common"
                filePath="configurationsource_satellite.config" />
            <add name="System Configuration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common" />
        </sources>
    </enterpriseLibrary.ConfigurationSource>
</configuration>
