<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="ManageableSource">
    <sources>
      <add name="ManageableSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Manageability.ManageableConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=null"
          filePath="configurationsource_satellite.config"
           applicationName="app"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
</configuration>
