<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="instrumentationConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Instrumentation.Configuration.InstrumentationConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common" requirePermission="true" />
  </configSections>
  <instrumentationConfiguration applicationInstanceName="Application" />
  <system.web>
    <compilation debug="true"/>
  </system.web>
    
</configuration>
