<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security" />
	</configSections>
  <securityConfiguration defaultAuthorizationInstance="DefaultAzManProvider">
    <authorizationProviders>
      <add
        name="DefaultAzManProvider"
        type="Microsoft.Practices.EnterpriseLibrary.Security.AzMan.AzManAuthorizationProvider, Microsoft.Practices.EnterpriseLibrary.Security.AzMan" 
        storeLocation="msxml://{currentPath}/testAzStore.xml"
        application ="Enterprise Library Unit Test"
        auditIdentifierPrefix="myAuditId"
        scope=""
      />
    </authorizationProviders>
	</securityConfiguration>
</configuration>