<configuration>
  <configSections>
    <section name="EditorSettings" type="ConfigurationMigrationQuickStart.EditorFontData, ConfigurationMigrationQuickStart, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <EditorSettings name="Verdana" size="24" style="2" />
</configuration>