<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>

  <enterpriseLibrary.ConfigurationSource selectedSource="File-based Configuration Source">
    <sources>
      <add name="File-based Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        filePath="Web.EnterpriseLibrary.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>

  <appSettings>
    <add key="CachedExpenseExpiration" value="00:05:00" />
  </appSettings>

  <connectionStrings configSource="Web.Connections.config" />

  <location path="Approve.aspx">
    <system.web>
      <authorization>
        <!-- only let users in the Manager role see this page -->
        <allow roles="Manager"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <system.web>
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="~/SimulatedWindowsAuthentication.aspx" defaultUrl="~/default.aspx" requireSSL="false" />
      <!--Set requireSSL=true for production use -->      
    </authentication>
    
    <authorization>      
      <deny users="?"/>
    </authorization>

    <httpCookies httpOnlyCookies="true" requireSSL="false"/>
    <!--Set cookieRequireSSL=true for production use -->
    <compilation debug="true" targetFramework="4.0"/>
    
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="AExpense.DataAccessLayer"/>
        <add namespace="AExpense.Model"/>
        <add namespace="System.Linq"/>
        <add namespace="Microsoft.Security.Application"/>
      </namespaces>
    </pages>
    
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">      
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="aExpense" applicationName="aExpense" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Hashed"/>
      </providers>
    </membership>
    
    <roleManager enabled="true" defaultProvider="SqlRoleManager" cookieRequireSSL="false">
      <!--Set cookieRequireSSL=true for production use -->      
      <providers>
        <add name="SqlRoleManager" type="System.Web.Security.SqlRoleProvider" connectionStringName="aExpense" applicationName="aExpense"/>
      </providers>
    </roleManager>
    
    <profile defaultProvider="SqlProvider">      
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="aExpense" applicationName="aExpense"/>
      </providers>
      <properties>
        <add name="PreferredReimbursementMethod"/>
        <add name="CostCenter"/>
        <add name="DisplayName"/>
      </properties>
    </profile>
    
    <customErrors mode="On" defaultRedirect="500.htm">
      <error statusCode="500" redirect="500.htm"/>
    </customErrors>
  </system.web>

  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>