<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common" />
  </configSections>

  <enterpriseLibrary.ConfigurationSource selectedSource="InvalidType">

    <sources>

      <add name="InvalidType"
				 type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.InvalidType, Microsoft.Practices.EnterpriseLibrary.Common"
			 filePath="securityConfiguration.config"
				 />

    </sources>
  </enterpriseLibrary.ConfigurationSource>

</configuration>