<configuration>
	<configSections>
		<section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography" />
	</configSections>
	<securityCryptographyConfiguration>
		<hashProviders>
			<add
				name="hashprovider"
				type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography"
				algorithmType="System.Security.Cryptography.SHA1Managed, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
				saltEnabled="true" 
				/>
		</hashProviders>
		<symmetricCryptoProviders>
			<add
				name="symprovider"
				type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography"
				algorithmType="System.Security.Cryptography.RijndaelManaged, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
				protectedKeyFilename="C:\EntLib4Src\Quick Starts\Cryptography\SymmetricKeyFile.txt"
				protectedKeyProtectionScope="LocalMachine"
				/>
		</symmetricCryptoProviders>
	</securityCryptographyConfiguration>
	<appSettings>
    <add key="InstallPath" value="C:\EntLib4Src\Quick Starts\Cryptography"/>
	</appSettings>
</configuration>
