<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="instrumentationConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Instrumentation.Configuration.InstrumentationConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common" />
    <section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation"/>
  </configSections>
  <instrumentationConfiguration performanceCountersEnabled="false"
    eventLoggingEnabled="false" wmiEnabled="true" />
  <validation>
    <type name="Microsoft.Practices.EnterpriseLibrary.Validation.Tests.TestClasses.TestObjectWithFailingAttributesOnProperties" defaultRuleset="RuleB">
      <ruleset name="RuleA">
        <properties>
          <property name="FailingProperty1">
            <validator name="validator1" type="Microsoft.Practices.EnterpriseLibrary.Validation.Tests.TestClasses.MockValidator, Microsoft.Practices.EnterpriseLibrary.Validation.Tests" returnFailure="true" messageTemplate="message-from-config1-RuleA"/>
            <validator name="validator2" type="Microsoft.Practices.EnterpriseLibrary.Validation.Tests.TestClasses.MockValidator, Microsoft.Practices.EnterpriseLibrary.Validation.Tests" returnFailure="true" messageTemplate="message-from-config2-RuleA"/>
            <validator name="validator3" type="Microsoft.Practices.EnterpriseLibrary.Validation.Tests.TestClasses.MockValidator, Microsoft.Practices.EnterpriseLibrary.Validation.Tests" returnFailure="false" messageTemplate="message-from-config3-RuleA"/>
          </property>
          <property name="FailingProperty2">
            <validator name="validator" type="Microsoft.Practices.EnterpriseLibrary.Validation.Tests.TestClasses.MockValidator, Microsoft.Practices.EnterpriseLibrary.Validation.Tests" returnFailure="false" messageTemplate="message-from-config4-RuleA"/>
          </property>
        </properties>
      </ruleset>
      <ruleset name="RuleB">
        <properties>
          <property name="FailingProperty1">
            <validator name="validator1" type="Microsoft.Practices.EnterpriseLibrary.Validation.Tests.TestClasses.MockValidator, Microsoft.Practices.EnterpriseLibrary.Validation.Tests" returnFailure="true" messageTemplate="message-from-config1"/>
            <validator name="validator3" type="Microsoft.Practices.EnterpriseLibrary.Validation.Tests.TestClasses.MockValidator, Microsoft.Practices.EnterpriseLibrary.Validation.Tests" returnFailure="false" messageTemplate="message-from-config3"/>
          </property>
          <property name="FailingProperty2">
            <validator name="validator" type="Microsoft.Practices.EnterpriseLibrary.Validation.Tests.TestClasses.MockValidator, Microsoft.Practices.EnterpriseLibrary.Validation.Tests" returnFailure="true" messageTemplate="message-from-config2"/>
          </property>
        </properties>
      </ruleset>
    </type>
  </validation>
</configuration>