<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for Configuration.Design.ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Debug (Any CPU)&quot; configuration in project &quot;C:\dev\EntLib SL Spike\V5-SL\Entlib\Source\Blocks\Configuration\Src\Design\Configuration.Design.csproj&quot;." ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1004" Action="None" />
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1011" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1024" Action="None" />
    <Rule Id="CA1033" Action="None" />
    <Rule Id="CA1300" Action="None" />
    <Rule Id="CA1500" Action="None" />
    <Rule Id="CA1506" Action="None" />
    <Rule Id="CA1711" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1800" Action="None" />
    <Rule Id="CA1810" Action="None" />
    <Rule Id="CA1811" Action="None" />
    <Rule Id="CA1812" Action="None" />
    <Rule Id="CA2210" Action="None" />
    <Rule Id="CA2214" Action="None" />
  </Rules>
</RuleSet>