<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography" />
	</configSections>
	<securityCryptographyConfiguration defaultHashInstance="hashAlgorithm1" defaultSymmetricCryptoInstance="dpapiSymmetric1">
		<hashProviders>
			<add
				name="hashAlgorithm1"
				type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography"
				algorithmType="System.Security.Cryptography.SHA1Managed, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
				saltEnabled="false" 
				/>			
		</hashProviders>
		<symmetricCryptoProviders>
			<add
				name="dpapiSymmetric1"
				type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.DpapiSymmetricCryptoProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography"
				scope="CurrentUser" 
				/>
		</symmetricCryptoProviders>
	</securityCryptographyConfiguration>
	</configuration>