<?xml version="1.0" encoding="utf-8"?>
<!-- This file is used by the Validation Quickstart at runtime. 
     There is a post-build task that copies app.config.runtime to ValidationQuickStart.exe.config, 
     instead of copying the app.config file in the output directory.
     This is because the relative path to ValidationQuickStart.BusinessEntities.dll.config is different 
     depending on whether the file is in the designtime directory or runtime directory.
-->
<configuration> 
    <configSections>
        <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common" />
    </configSections>
    <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
        <sources>
            <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common"
                filePath="..\..\..\BusinessEntities\ValidationQuickStart.BusinessEntities.dll.config" />
        </sources>
    </enterpriseLibrary.ConfigurationSource>
</configuration>
