<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for Logging.MsmqDistributor (2).ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Release (Any CPU)&quot; configuration in project &quot;C:\dev\EntLib SL Spike\V5-SL\Entlib\Source\Blocks\Logging\Src\MsmqDistributor\Logging.MsmqDistributor.csproj&quot;." ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1824" Action="None" />
    <Rule Id="CA2001" Action="None" />
  </Rules>
</RuleSet>