<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="policyInjection" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.Configuration.PolicyInjectionSettings, Microsoft.Practices.EnterpriseLibrary.PolicyInjection" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <policyInjection>
    <injectors defaultInjector="Remoting Policy Injector">
      <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.RemotingInterception.RemotingPolicyInjector, Microsoft.Practices.EnterpriseLibrary.PolicyInjection"
          name="Remoting Policy Injector" />
      <add type="Foo.Bar, Foo" name="Custom Policy Injector" />
    </injectors>
    <policies>
      <add name="Policy" />
      <add name="Policy1" />
      <add name="Policy2" />
    </policies>
  </policyInjection>
</configuration>