<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching" />
    <section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security" />
  </configSections>


  <cachingConfiguration defaultCacheManager="InMemoryPersistence">
    <backingStores>
      <add name="inMemory"
				type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" />
    </backingStores>

    <cacheManagers>
      <add name="InMemoryPersistence"
				expirationPollFrequencyInSeconds="60"
				maximumElementsInCacheBeforeScavenging="100"
				numberToRemoveWhenScavenging="10"
				backingStoreName="inMemory"
        type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"/>
      <!--<add name="SmallInMemoryPersistence" 
				expirationPollFrequencyInSeconds="1"
				maximumElementsInCacheBeforeScavenging="3" 
				numberToRemoveWhenScavenging="2"
				backingStoreName="inMemory" />
			<add name="ShortInMemoryPersistence" 				
				expirationPollFrequencyInSeconds="1"
				maximumElementsInCacheBeforeScavenging="10" 
				numberToRemoveWhenScavenging="2"
				backingStoreName="inMemory" />-->
    </cacheManagers>
  </cachingConfiguration>


  <securityConfiguration defaultSecurityCacheInstance="provider1">
    <authorizationProviders />
    <securityCacheProviders>
      <add
				name="provider1"
				type="Microsoft.Practices.EnterpriseLibrary.Security.Cache.CachingStore.CachingStoreProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cache.CachingStore"
				cacheManagerInstanceName="InMemoryPersistence"
				defaultSlidingSessionExpirationInMinutes="5"
				defaultAbsoluteSessionExpirationInMinutes="120"
				/>
    </securityCacheProviders>
  </securityConfiguration>
</configuration>