<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		  <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching" />
			<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
			<section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography" />		
	</configSections>

	<connectionStrings>
		<add 
			name="CachingDatabase"
			connectionString="server=(local)\SQLEXPRESS;database=Caching;Integrated Security=true"
			providerName="System.Data.SqlClient" />
	</connectionStrings>

	<cachingConfiguration defaultCacheManager="InMemoryPersistenceWithNullEncryption">
		<encryptionProviders>
			<add name="Fred" 
				type="Microsoft.Practices.EnterpriseLibrary.Caching.Cryptography.SymmetricStorageEncryptionProvider, Microsoft.Practices.EnterpriseLibrary.Caching.Cryptography"
				symmetricInstance="Fred"/>		
		</encryptionProviders>

		<backingStores>
			<add name="Data Cache Storage" 
				type="Microsoft.Practices.EnterpriseLibrary.Caching.Database.DataBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching.Database"
				databaseInstanceName="CachingDatabase" partitionName="Partition1" />
		</backingStores>

		<cacheManagers>
			<add name="EncryptedCacheInDatabase"
				type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
				expirationPollFrequencyInSeconds="60" 
				maximumElementsInCacheBeforeScavenging="1000" 
				numberToRemoveWhenScavenging="10"
				backingStoreName="Data Cache Storage" />			
		</cacheManagers>
	</cachingConfiguration>

	<dataConfiguration defaultDatabase="CachingDatabase">
	</dataConfiguration>

	<securityCryptographyConfiguration defaultSymmetricCryptoInstance="Fred" >
		<symmetricCryptoProviders>
			<add
				name="Fred"
				type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography"
				algorithmType="System.Security.Cryptography.RijndaelManaged, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
				protectedKeyFilename="ProtectedKey.file"
				protectedKeyProtectionScope="CurrentUser"
			/>
		</symmetricCryptoProviders>
	</securityCryptographyConfiguration>
</configuration>