<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation"/>
	</configSections>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<!--<add assembly="Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.VisualStudio.QualityTools.Resource, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="PresentationFramework, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="UIAutomationTypes, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="ReachFramework, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="PresentationCFFRasterizer, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<!--<add assembly="Microsoft.VisualC, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
				<add assembly="System.Deployment, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="PresentationCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="UIAutomationProvider, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="WindowsBase, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Printing, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="PresentationUI, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<!--<add assembly="Microsoft.Practices.EnterpriseLibrary.Common, Version=4.0.0.1010, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
    </assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
	<validation>
		<type name="Microsoft.Practices.EnterpriseLibrary.Validation.Tests.TestClasses.TestObjectWithFailingAttributesOnProperties" defaultRuleset="RuleB">
			<ruleset name="RuleA">
				<properties>
					<property name="FailingProperty1">
						<validator name="validator1" type="Microsoft.Practices.EnterpriseLibrary.Validation.Tests.TestClasses.MockValidator, Microsoft.Practices.EnterpriseLibrary.Validation.Tests" returnFailure="true" messageTemplate="message-from-config1-RuleA"/>
						<validator name="validator2" type="Microsoft.Practices.EnterpriseLibrary.Validation.Tests.TestClasses.MockValidator, Microsoft.Practices.EnterpriseLibrary.Validation.Tests" returnFailure="true" messageTemplate="message-from-config2-RuleA"/>
						<validator name="validator3" type="Microsoft.Practices.EnterpriseLibrary.Validation.Tests.TestClasses.MockValidator, Microsoft.Practices.EnterpriseLibrary.Validation.Tests" returnFailure="false" messageTemplate="message-from-config3-RuleA"/>
					</property>
					<property name="FailingProperty2">
						<validator name="validator" type="Microsoft.Practices.EnterpriseLibrary.Validation.Tests.TestClasses.MockValidator, Microsoft.Practices.EnterpriseLibrary.Validation.Tests" returnFailure="false" messageTemplate="message-from-config4-RuleA"/>
					</property>
				</properties>
			</ruleset>
			<ruleset name="RuleB">
				<properties>
					<property name="FailingProperty1">
						<validator name="validator1" type="Microsoft.Practices.EnterpriseLibrary.Validation.Tests.TestClasses.MockValidator, Microsoft.Practices.EnterpriseLibrary.Validation.Tests" returnFailure="true" messageTemplate="message-from-config1"/>
						<validator name="validator3" type="Microsoft.Practices.EnterpriseLibrary.Validation.Tests.TestClasses.MockValidator, Microsoft.Practices.EnterpriseLibrary.Validation.Tests" returnFailure="false" messageTemplate="message-from-config3"/>
					</property>
					<property name="FailingProperty2">
						<validator name="validator" type="Microsoft.Practices.EnterpriseLibrary.Validation.Tests.TestClasses.MockValidator, Microsoft.Practices.EnterpriseLibrary.Validation.Tests" returnFailure="true" messageTemplate="message-from-config2"/>
					</property>
				</properties>
			</ruleset>
		</type>
	</validation>
</configuration>
