<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching" />
  </configSections>
  <cachingConfiguration defaultCacheManager="ShortInMemoryPersistence">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="1" maximumElementsInCacheBeforeScavenging="100"
        numberToRemoveWhenScavenging="2" backingStoreName="Isolated Storage"
        name="InIsoStorePersistenceWithNullEncryption"
					 type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"/>
      <add expirationPollFrequencyInSeconds="1" maximumElementsInCacheBeforeScavenging="10"
        numberToRemoveWhenScavenging="2" backingStoreName="Null Storage"
        name="ShortInMemoryPersistence" 
					 type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"/>
			<add name="MockManager" type="Microsoft.Practices.EnterpriseLibrary.Caching.TestSupport.MockCacheManager, Microsoft.Practices.EnterpriseLibrary.Caching.TestSupport"
					 foo="FooValue"></add>
    </cacheManagers>
    <backingStores>
      <add partitionName="EntLib"            
        type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"
        name="Isolated Storage" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"
        name="Null Storage" />
    </backingStores>
    <!--<encryptionProviders>
    encryptionProviderName="nullEncryptor"
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.Tests.MockStorageEncryptionProvider, Microsoft.Practices.EnterpriseLibrary.Caching.Tests"
        name="nullEncryptor" />
    </encryptionProviders>-->
  </cachingConfiguration>
</configuration>