<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0" />
	</configSections>

	<loggingConfiguration tracingEnabled="true" defaultCategory="MockCategoryOne">
		<logFilters />
		<sources />
		<formatters />

		<specialSources>
			<errors name="errors" switchValue="All" />
		</specialSources>

    <listeners>
      <add name="invalid type" 
				type="Microsoft.Practices.EnterpriseLibrary.Logging.TestSupport.TraceListeners.MockTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.TestSupport, Version=6.0.0.0" 
				/>
    </listeners>

  </loggingConfiguration>
</configuration>
