<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching" />
    <section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <connectionStrings>
    <add name="SqlServices" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=aspnetdb;Integrated Security=True"/>
  </connectionStrings>
  <cachingConfiguration defaultCacheManager="Default Cache Manager">
    <backingStores>
      <add name="inMemory" 
				type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" />
    </backingStores>

    <cacheManagers>
      <add name="Default Cache Manager" 				
				type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
				expirationPollFrequencyInSeconds="60"
				maximumElementsInCacheBeforeScavenging="1000" 
				numberToRemoveWhenScavenging="10"
				backingStoreName="inMemory" />
    </cacheManagers>
  </cachingConfiguration>
  <securityConfiguration 
		defaultAuthorizationInstance="RuleProvider" 
		defaultSecurityCacheInstance="Caching Store Provider">
    <authorizationProviders>
      <add
				name="RuleProvider"
				type="Microsoft.Practices.EnterpriseLibrary.Security.AuthorizationRuleProvider, Microsoft.Practices.EnterpriseLibrary.Security">
        <rules>
          <add name="Hire Employee" expression="R:Manager OR R:HumanResources" />
          <add name="Print Document" expression="NOT I:?" />
          <add name="Submit New Order" expression="(R:Employee AND (NOT I:Bob))" />
        </rules>
      </add>
    </authorizationProviders>
    <securityCacheProviders>
      <add
				name="Caching Store Provider" 
				type="Microsoft.Practices.EnterpriseLibrary.Security.Cache.CachingStore.CachingStoreProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cache.CachingStore"
				cacheManagerInstanceName="Default Cache Manager" 
				defaultSlidingSessionExpirationInMinutes="10" 
				defaultAbsoluteSessionExpirationInMinutes="60" 
				/>
    </securityCacheProviders>
  </securityConfiguration>
  <unity>
    <containers>
      <container>
        <extensions>
          <add type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Unity.EnterpriseLibraryCoreExtension, Microsoft.Practices.EnterpriseLibrary.Common" />
          <add type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.Unity.CachingBlockExtension, Microsoft.Practices.EnterpriseLibrary.Caching" />
          <add type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.Unity.SecurityBlockExtension, Microsoft.Practices.EnterpriseLibrary.Security" />
        </extensions>
      </container>
    </containers>
  </unity>
  <system.web>
    <roleManager defaultProvider="SqlProvider" 
    enabled="true"
    cacheRolesInCookie="true"
    cookieName=".ASPROLES"
    cookieTimeout="30"
    cookiePath="/"
    cookieRequireSSL="false"
    cookieSlidingExpiration="true"
    cookieProtection="All" >
      <providers>
        <add
          name="SqlProvider"
          type="System.Web.Security.SqlRoleProvider"
          connectionStringName="SqlServices"
          applicationName="SampleApplication" />
      </providers>
    </roleManager>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add  
          name="SqlProvider" 
          type="System.Web.Security.SqlMembershipProvider" 
          connectionStringName="SqlServices"
          applicationName="MyApplication"
          enablePasswordRetrieval="false"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="false"
          passwordFormat="Hashed"
          minRequiredPasswordLength="3"
          minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
    <profile defaultProvider="SqlProvider">
      <providers>
        <clear />
        <add name="SqlProvider"
             type="System.Web.Profile.SqlProfileProvider"
             connectionStringName="SqlServices"
             applicationName="SampleApplication"
             description="SqlProfileProvider for SampleApplication" />
      </providers>

      <properties>
        <add name="FirstName" type="System.String" />
        <add name="LastName" type="System.String" />
        <add name="Theme" type="SecurityQuickStart.ProfileTheme, SecurityQuickStart"/>
      </properties>
    </profile>

  </system.web>
</configuration>