<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching" />
	</configSections>

	<cachingConfiguration defaultCacheManager="ShortInMemoryPersistence">
		<encryptionProviders>
			<add name="nullEncryptor" 
				type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.Tests.MockStorageEncryptionProvider, Microsoft.Practices.EnterpriseLibrary.Caching.Tests" />
		</encryptionProviders>

		<backingStores>
			<add name="inMemory" 
				type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" />
			<add name="inIsolatedStorageWithNullEncryptor" 
				type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"
				partitionName="EntLib" 
				encryptionProviderName="nullEncryptor" />
		</backingStores>

		<cacheManagers>
			<add name="ShortInMemoryPersistence" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"				
				expirationPollFrequencyInSeconds="1"
				maximumElementsInCacheBeforeScavenging="10" 
				numberToRemoveWhenScavenging="2"
				backingStoreName="inMemory" />
			<add name="InIsoStorePersistenceWithNullEncryption" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
				expirationPollFrequencyInSeconds="1" 
				maximumElementsInCacheBeforeScavenging="100" 
				numberToRemoveWhenScavenging="2"
				backingStoreName="inIsolatedStorageWithNullEncryptor" />
			<add name="MockManager" type="Microsoft.Practices.EnterpriseLibrary.Caching.Tests.MockCacheManager, Microsoft.Practices.EnterpriseLibrary.Caching.Tests"
					 foo="FooValue"></add>
		</cacheManagers>
	</cachingConfiguration>
</configuration>
