<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="policyInjection" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.Configuration.PolicyInjectionSettings, Microsoft.Practices.EnterpriseLibrary.PolicyInjection" />
  </configSections>
  <policyInjection>
    <policies>
      <add name="Subordinate Policy">
        <matchingRules>
          <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.MemberNameMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection"
            name="Subordinate Member Name Matching Rule">
            <matches>
              <add match="Method1" ignoreCase="false" />
            </matches>
          </add>
        </matchingRules>
        <handlers>
          <add name="Call Count Handler" type="Microsoft.Practices.Microsoft.Practices.EnterpriseLibrary.PolicyInjection.TestSupport.ObjectsUnderTest.CallCountHandler, Microsoft.Practices.EnterpriseLibrary.PolicyInjection.TestSupport" />
        </handlers>
      </add>
      <add name="Merged Policy">
        <matchingRules>
          <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.MemberNameMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection"
            name="Merged Member Name Matching Rule">
            <matches>
              <add match="Merged method" ignoreCase="true" />
            </matches>
          </add>
        </matchingRules>
        <handlers>
          <add name="Call Count Handler" type="Microsoft.Practices.Microsoft.Practices.EnterpriseLibrary.PolicyInjection.TestSupport.ObjectsUnderTest.CallCountHandler, Microsoft.Practices.EnterpriseLibrary.PolicyInjection.TestSupport" />
        </handlers>
      </add>
    </policies>
  </policyInjection>

</configuration>