<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="enterpriseLibrary.ConfigurationSource"
						 type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common" />
	</configSections>
	<enterpriseLibrary.ConfigurationSource selectedSource="manageable">
		<sources>
			<add name="manageable"
					 type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Manageability.ManageableConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.0.0.926, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					 filePath="enterpriselibrary.configuration.manageability.design.tests.dll.config"
					 enableWmi="true"
					 enableGroupPolicies="true"
					 applicationName="TestApp">
				<manageabilityProviders>
					<add type="EnterpriseLibrary.Configuration.Manageability.Design.Tests.Mocks.MockConfigurationManageabilityProvider, EnterpriseLibrary.Configuration.Manageability.Design.Tests"
							 name="section1">
						<manageabilityProviders>
							<add type="EnterpriseLibrary.Configuration.Manageability.Design.Tests.Mocks.MockConfigurationManageabilityProvider, EnterpriseLibrary.Configuration.Manageability.Design.Tests"
									 name="subProvider1"
									 targetType="System.Object" />
							<add type="EnterpriseLibrary.Configuration.Manageability.Design.Tests.Mocks.MockConfigurationManageabilityProvider, EnterpriseLibrary.Configuration.Manageability.Design.Tests"
									 name="subProvider2" 
									 targetType="System.Boolean"/>
							<add type="EnterpriseLibrary.Configuration.Manageability.Design.Tests.Mocks.MockConfigurationManageabilityProvider, EnterpriseLibrary.Configuration.Manageability.Design.Tests"
									 name="subProvider3" 
									 targetType="System.String"/>
						</manageabilityProviders>
					</add>
					<add type="EnterpriseLibrary.Configuration.Manageability.Design.Tests.Mocks.MockConfigurationManageabilityProvider, EnterpriseLibrary.Configuration.Manageability.Design.Tests"
							 name="section2"/>
				</manageabilityProviders>
			</add>
		</sources>
	</enterpriseLibrary.ConfigurationSource>
</configuration>
