<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security" />
	</configSections>
	<securityConfiguration 
		defaultAuthorizationInstance="provider1" 
		defaultSecurityCacheInstance="provider1">
		<authorizationProviders>
			<add
				name="RuleProvider"
				type="Microsoft.Practices.EnterpriseLibrary.Security.AuthorizationRuleProvider, Microsoft.Practices.EnterpriseLibrary.Security">
				<rules>
					<add
						name="rule1"
						expression="I:TestUser OR R:Admin"
						/>
				</rules>
			</add>			
			<add
				name="provider1"
				type="Microsoft.Practices.EnterpriseLibrary.Security.Tests.MockAuthorizationProvider, Microsoft.Practices.EnterpriseLibrary.Security.Tests"
				/>
			<add
				name="provider2"
				type="Microsoft.Practices.EnterpriseLibrary.Security.Tests.MockAuthorizationProvider2, Microsoft.Practices.EnterpriseLibrary.Security.Tests"
				/>
			<add
				name="custom"
				type="Microsoft.Practices.EnterpriseLibrary.Security.Tests.MockCustomAuthorizationProvider, Microsoft.Practices.EnterpriseLibrary.Security.Tests"
				attributeKey="value1"
				/>
		</authorizationProviders>
		<securityCacheProviders>
			<add
				name="provider1" 
				type="Microsoft.Practices.EnterpriseLibrary.Security.Tests.MockSecurityCacheProvider, Microsoft.Practices.EnterpriseLibrary.Security.Tests"
				/>
      <add
				name="custom"
				type="Microsoft.Practices.EnterpriseLibrary.Security.Tests.MockCustomSecurityCacheProvider, Microsoft.Practices.EnterpriseLibrary.Security.Tests"
				attributeKey="value1"
				/>
    </securityCacheProviders>
	</securityConfiguration>
</configuration>