<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>

  <unity>
    <containers>
      <container name="loggingContainer">
        <extensions>
          <add type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.Unity.EnterpriseLibraryCoreExtension, Microsoft.Practices.EnterpriseLibrary.Common" />
          <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.Unity.LoggingBlockExtension, Microsoft.Practices.EnterpriseLibrary.Logging" />
        </extensions>
      </container>
    </containers>
  </unity>
  
	<loggingConfiguration tracingEnabled="true" defaultCategory="General">
		<logFilters>
			<add
				name="Category"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging"
				categoryFilterMode="AllowAllExceptDenied">
        <categoryFilters>
          <add name="UI Events" />
        </categoryFilters>
			</add>
			<add
				name="Priority"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging"
				minimumPriority="2"
					/>
      <add name="LogEnabled Filter"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging"
        enabled="true" 
           />

    </logFilters>

    <categorySources>
      <add 
				name="Data Access Events"
				switchValue="All">
        <listeners>
          <add name="Flat File Destination" />
        </listeners>
      </add>
      <add 
				name="Debug"
				switchValue="All">
        <listeners>
          <add name="Debug Destination" />
        </listeners>
      </add>
      <add 
				name="General"
				switchValue="All">
        <listeners>
          <add name="Event Log Destination" />
        </listeners>
      </add>
      <add 
				name="Troubleshooting"
				switchValue="All">
        <listeners>
          <add name="Event Log Destination" />
        </listeners>
      </add>
      <add 
				name="UI Events"
				switchValue="All">
        <listeners>
          <add name="Flat File Destination" />
        </listeners>
      </add>
      <add 
				name="Trace"
				switchValue="All">
        <listeners>
          <add name="Flat File Destination" />
        </listeners>
      </add>
    </categorySources>

    <specialSources>
      <errors name="errors" switchValue="All">
        <listeners>
          <add name="Event Log Destination" />
        </listeners>
      </errors>
    </specialSources>
    
		<listeners>
			<add name="Event Log Destination" 
				type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" 
				listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" 
				source ="Logging Quick Start" 
				formatter="Text Formatter"
				/>
			<add name="Flat File Destination" 
				type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" 
				listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" 
				fileName ="trace.log" 
				header="----------------header------------------------" 
				footer="----------------footer------------------------" 
				formatter="Text Formatter"
				/>
      <add name="Debug Destination" 
				type="LoggingQuickStart.DebugTraceListener, LoggingQuickStart" 
				listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" 
				formatter="Text Formatter"
				/>
		</listeners>
		<formatters>
			<add
				name="Text Formatter"
				type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
				template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}"
				/>
		</formatters>
	</loggingConfiguration>
</configuration>